body {
  font-family: "Apercu", "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
  background-color: #0F1931;
}

button.btn {
  background-color: #FED230;
  width: 200px;
  font-weight: 700;
}

.right-col {
  min-width: 200px;
}
